@model VIMS.Model.Home.ChangePasswordViewModel
@{
    ViewBag.Title = @VIMS.Model.Resources.ChangePassword.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .form-control, .form-label {
        font-size: 1.25rem !important;
    }

    .toggle-password {
        font-size: 24px;
    }

    .card-lg > .card-body {
        padding: 2rem !important;
    }
</style>
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-lg">
            <div class="card-body">

                <h2 class="h2 text-center mb-4">@VIMS.Model.Resources.ChangePassword.title</h2>
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.UserCode)
                    <div class="mb-3">
                        <label class="form-label"> @VIMS.Model.Resources.ChangePassword.OldPassword </label>
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        <div class="input-group input-group-flat">
                            @Html.TextBoxFor(m => m.OldPassword, new Dictionary<string, object>
                                      () {
                                      {"id","txtOldPassword"},
                                      {"class","form-control rounded-left"},
                                      {"placeholder",@VIMS.Model.Resources.ChangePassword.CurrPReq },
                                      {"autocomplete","off"},
                                      {"type","password"},
                                      {"required","required"},
                                      {"tabindex","1"}
                                      })
                            <span toggle="#password-field" class="input-group-text ti ti-eye toggle-password ti "></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> @VIMS.Model.Resources.ChangePassword.NewPassword </label>
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        <div class="input-group input-group-flat">
                            @Html.TextBoxFor(m => m.NewPassword, new Dictionary<string, object>
                                      () {
                                      {"id","txtNewPassword"},
                                      {"class","form-control rounded-left"},
                                      {"placeholder",@VIMS.Model.Resources.ChangePassword.NewPReq},
                                      {"autocomplete","off"},
                                      {"type","password"},
                                      {"required","required"},
                                      {"tabindex","2"}
                                      })
                            <span toggle="#password-field" class="input-group-text ti ti-eye toggle-password ti "></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> @VIMS.Model.Resources.ChangePassword.ConfirmPassword </label>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        <div class="input-group input-group-flat">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new Dictionary<string, object>
                                      () {
                                      {"id","txtConfirmPassword"},
                                      {"class","form-control rounded-left"},
                                      {"placeholder",@VIMS.Model.Resources.ChangePassword.ComPReq },
                                      {"autocomplete","off"},
                                      {"type","password"},
                                      {"required","required"},
                                      {"tabindex","3"}
                                      })
                            <span toggle="#password-field" class="input-group-text ti ti-eye toggle-password ti "></span>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-lg btn-primary w-100">@VIMS.Model.Resources.ChangePassword.submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Libs JS -->
<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("ti-eye-off");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>

