@model VIMS.Model.Master.AilmentViewModel

@{
    ViewBag.Title = ViewBag.Action + " " + @VIMS.Model.Resources.Ailment.AilmentMaster;
}

<div class="row">
    <div class="col-md-12 my-5">
        <div class="card">
            <div class="card-header row cardTitleRow">
                <div class="col">
                    <h4 class="card-title float-left">@ViewBag.Action @VIMS.Model.Resources.Ailment.AilmentMaster</h4>
                </div>
                <div class="col-auto">
                    <a href="@Url.Action("AilmentMaster", "Master")" class="btn btn-outline-primary">
                        @VIMS.Model.Resources.Ailment.ViewAilment
                    </a>
                </div>
            </div>

            <div class="card-body">
                @using (Html.BeginForm("AddAilment", "Master", FormMethod.Post, new { @class = "forms-sample", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.AilmentId)
                    @Html.HiddenFor(x => x.Action)

                    <div class="row form-group">
                        <div class="col-md-3 col-xl-2 col-sm-12">
                            <label class="col-form-label">
                                @VIMS.Model.Resources.Ailment.AilmentCode
                                @Html.ValidationMessageFor(m => m.AilmentCode, "", new { @class = "text-danger" })
                            </label>
                            @Html.TextBoxFor(m => m.AilmentCode, new Dictionary<string, object>()
                            {
                                {"id","txtAilmentCode"},
                                {"class","form-control text-uppercase"},
                                {"autocomplete","off"},
                                {"required","required"},
                                {"placeholder", @VIMS.Model.Resources.Ailment.EAilmentCode}
                            })
                        </div>

                        <div class="col-md-3 col-xl-2 col-sm-12">
                            <label class="col-form-label">
                                @VIMS.Model.Resources.Ailment.AilmentName
                                @Html.ValidationMessageFor(m => m.AilmentName, "", new { @class = "text-danger" })
                            </label>
                            @Html.TextBoxFor(m => m.AilmentName, new Dictionary<string, object>()
                            {
                                {"id","txtAilmentName"},
                                {"class","form-control text-capitalize"},
                                {"autocomplete","off"},
                                {"required","required"},
                                {"placeholder", @VIMS.Model.Resources.Ailment.EAilmentName}
                            })
                        </div>

                        <div class="col-md-3 col-xl-2 col-sm-12">
                            <label class="col-form-label">@VIMS.Model.Resources.Ailment.Active</label>
                            @Html.DropDownListFor(x => x.IsActive, new List<SelectListItem>
                            {
                                new SelectListItem{ Text="Enable", Value = "true", Selected = Model.IsActive },
                                new SelectListItem{ Text="Disable", Value = "false", Selected = !Model.IsActive }
                            }, new { @class = "select2 w-100", @id = "IsActive" })
                        </div>

                        <div class="col-md-12 text-right mt-4">
                            <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
