@model IEnumerable<VIMS.DB.VIMS_DoctorMasterRtr_Result>

@{
    ViewBag.Title = @VIMS.Model.Resources.Doctor.title;
    ViewBag.Module = "Master";
}

<div class="row">
    <div class="col-sm-12 my-5">
        <div class="card card-table">
            <div class="card-header row cardTitleRow">
                <div class="col">
                    <h4 class="card-title float-left">@VIMS.Model.Resources.Doctor.DoctorMaster</h4>
                </div>

                <div class="col-auto">
                    @*@if (Convert.ToInt32(TempData["InsertRight"]) == 1)
        {*@
                    <a href="@Url.Action("AddDoctor", "Master")" class="btn btn-outline-primary float-right">
                        @VIMS.Model.Resources.Doctor.AddDoctor
                    </a>
                    @*}*@

                </div>
            </div>

            <div class="card-body booking_card">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                            <tr>
                                <th>@VIMS.Model.Resources.Doctor.Action</th>
                                <th>@VIMS.Model.Resources.Doctor.Active</th>
                                <th>@VIMS.Model.Resources.Doctor.DoctorCode</th>
                                <th>@VIMS.Model.Resources.Doctor.Name</th>
                                <th>@VIMS.Model.Resources.Doctor.Gender</th>
                                <th>@VIMS.Model.Resources.Doctor.ContactNo</th>
                                <th>@VIMS.Model.Resources.Doctor.Signature</th>
                                <th>@VIMS.Model.Resources.Doctor.CreatedBy</th>
                            </tr>
                        </thead>

                        <tbody>
                            @*@if (Convert.ToInt32(TempData["ViewRight"]) == 1)
        {*@
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @*@if (Convert.ToInt32(TempData["UpdateRight"]) == 1)
            {*@
                                    <a href="@Url.Action("EditDoctor", "Master", new { id = item.DoctorId })" class="mx-3">
                                        <i class="ti ti-edit fa-2x"></i>
                                    </a>
                                    @*}
            else
            {
                <i class="ti ti-edit-off fa-2x"></i>
            }*@

                                </td>

                                <td class="justify-content-center d-flex">
                                    @*@if (Convert.ToInt32(TempData["DeleteRight"]) == 1)
            {*@
                                    <div class="slider">
                                        <input type="checkbox"
                                               class="slider-checkbox"
                                               id="chk_@item.DoctorId"
                                               onclick='ActiveDeactiveStatusChange(this, "@item.DoctorId", "DoctorMaster")'
                                               @(item.IsActive ? "checked" : "") />

                                        <label class="slider-label" for="chk_@item.DoctorId">
                                            <span class="slider-inner"></span>
                                            <span class="slider-circle"></span>
                                        </label>
                                    </div>
                                    @*}
            else
            {
                <div class="slider">
                    <input type="checkbox" name="slider" class="slider-checkbox" disabled="disabled" id="@item.DoctorId"
                           @(item.IsActive == true ? "checked" : "")>
                    <label class="slider-label" for="@item.DoctorId">
                        <span class="slider-inner"></span>
                        <span class="slider-circle"></span>
                    </label>
                </div>
            }*@

                                </td>

                                <td>@item.DoctorCode</td>
                                <td>@item.Name</td>
                                <td>@item.Gender</td>
                                <td>@item.ContactNumber1</td>
                                <td>
                                    @if (item.SignaturePath == null)
                                    {
                                        <span><i class="las la-exclamation-triangle"></i></span>

                                    }
                                    else
                                    {
                                        if (item.SignaturePath.Contains(".pdf"))
                                        {
                                            <a href="@Url.Action("DownloadOrShowSignature", new { id = item.DoctorCode, name = "DownloadSignature" })" class="btn editbtn btn-danger" title="PDF" target="_blank">
                                                <i class="fas fa-file-pdf fa-lg"></i>
                                            </a>
                                        }
                                    }
                                </td>
                                <td>@item.CreatedBy</td>
                            </tr>
                            }
                            @*}*@
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
